<span class="fa fa-star rating checked"></span>
<span class="fa fa-star rating"></span>
<span class="fa fa-star rating"></span>
<span class="fa fa-star rating"></span>
<span class="fa fa-star rating"></span>