<main class="collections-main">
  <header class="collections-main_header">
    <h1>Latest Collections</h1>
    <p>Find the lastest collections from our platform</p>
  </header>
  <%= render 'collections'%>
  <%= render '/layouts/footer'%>
</main>
